@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  background-color: blue;
  z-index: 2;
}

.logo {
  font-family: smooch;
  color: white;
  font-size: 2.2em;
}

.header nav button {
  background-color: transparent;
  border: 0;
  font-family: quicksand;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 1s;
}

.header nav button:hover {
  color: yellowgreen;
  transform: translate(0px, -4px);
  text-shadow: 0 6px 6px rgba(0, 0, 0, 1);
}

.order-online {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: montserrat;
  cursor: pointer;
  transition: 0.6s;
}

.order-onlinee {

  margin-left: 490px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: montserrat;
  cursor: pointer;
  transition: 0.6s;
}

.order-online:hover {
  transform: translate(0px, -4px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.waves {
  transform: rotate(180deg) scale(1, 0.2);
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  margin-top: 55px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 4s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 7s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 10s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 17s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.input-group {
  padding-left: 200px;
  padding-right: 239px;
  display: flex;
  justify-content: space-between;
  max-height: 10rem;
}

.input-box {
  flex: 0 1 auto;
  margin-right: 1rem;
  text-align: start;
  font-family: montserrat;
  cursor: pointer;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
  width: 100%;
}

.container {
  padding: 0.1px;
  border-radius: 10px;
  background-color: #FFC0CB;
  margin: 0 auto;
  text-align: center;
  margin-left: 200px;
  margin-right: 255px;
}

body {
  font-family: Arial, sans-serif,;
  background-color: #e8e6e9;
}

.input-boxx {
  flex: 0.3;
  margin-right: 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: normal;
  font-family: montserrat;
  cursor: pointer;
  padding-top: 10px;
  margin-left: 200px;
  margin-right: 240px;


}

.input-boxxx input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;

}

#procedures,
#clinical_requests {
  box-shadow: 1px 1px 6px #0000001c;
  margin: 0.6rem 0;
  width: 96%;
  border-radius: 10px;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
}

.input-groupp {

  padding-left: 30px;
  padding-right: 200px;
  display: flex;
  justify-content: space-around;
  max-height: 10rem;

}


.input-groupp {
  display: flex;
  padding-left: 30px;
  padding-right: 200px;
}

.input-groupp .input-box {
  flex: 1;
}

.input-boxxx {
  flex: 1;
  margin-right: 1rem;
  text-align: start;
  font-family: Arial, sans-serif;
}

.input-box input,
.input-boxxx input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;

}

.input-groupp {
  display: flex;
  padding-left: 200px;
  padding-right: 210px;
}

.input-grouppp .input-box {
  flex: 1;
}


.input-boxxxx {
  flex: 1;
  margin-right: 1rem;
  text-align: start;
  font-family: Arial, sans-serif;
}

.input-box input,
.input-boxxxx input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
}

.input-grouppp {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.input-grouppp .input-box {
  flex: 1;
}

.containerr {

  padding: 0.1px;
  border-radius: 10px;
  background-color: #FFC0CB;
  margin: 0 auto;
  text-align: center;
  margin-left: 200px;
  margin-right: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 100px;
}

.button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-box select {
  box-shadow: 1px 1px 6px #0000001c;
  margin: 0.6rem 0;
  width: 96%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
}

.input-box select:focus {

  outline: none;
  border-color: blue;
}

.input-box select option {

  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.input-box select option:last-child {

  border-bottom: none;
}

footer {
  background-color: blue;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {

  justify-content: center;
  align-items: center;
}